@media (max-height: 600px) {
	.reset-pw-body {
		height: auto;
	}

	.reset-pw-footer {
		margin-top: 0px;
	}
}

@media (min-height: 600px) {
	.reset-pw-body {
		height: 86vh;
	}

	.reset-pw-footer {
		margin-top: -196px;
	}
}
