
<div id="message" ng-show="serverError">
  <div style="padding: 5px;">
    <div id="inner-message" class="alert alert-danger">
      <button type="button" class="close" ng-click="hideAlert()">&times;</button>
        {{errorMessage}}
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <input type="text" placeholder="New Category Name" ng-model="categoryName" class="input-sm form-control" id="categoryName">
    </div>
    <div class="col-md-2">
      <input type="text" placeholder="New Category DisplayName" ng-model="display_name" class="input-sm form-control" id="display_name">
    </div>
    <div class="col-md-2">
      <button ng-click="addCategory()" class="btn btn-sm btn-success">
      <i class="glyphicon glyphicon-plus"> </i> Add Category
    </button>
    </div>
  </div>
<hr />

<div class="row">
<table st-table="initialRows" class="table table-striped" st-safe-src="categories">
  <thead>
    <tr>
      <th class="col-md-2">
        <input st-search="name" placeholder="search" class="input-sm form-control" type="search"/>
      </th>
    </tr>

    <tr>
      <th st-sort="name">Name</th>
      <th st-sort="id">ID</th>
      <th st-sort="display_name">DisplayName</th>
      <th st-sort="rank" st-sort-default="true">Rank</th>
      <th st-sort="active">Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in initialRows">
    <td>
      {{row.name}}
    </td>
    <td>{{row.id}}</td>
    <td>{{row.display_name}}</td>
    <td>{{row.rank}}</td>
    <td id="active">{{row.active}}</td>
    <td>
      <button
        ng-if="row.active === true"
        ng-click="disableCategory(row)"
        class="btn btn-sm btn-danger">
        Disable
      </button>
      <button
        ng-if="row.active === false"
        ng-click="enableCategory(row)"
        class="btn btn-sm btn-success">
        Enable
      </button>
      <a
        href
        ng-if="row.icon_url"
        class="fa fa-fw fa-file-image-o fa-lg"
        ng-click="showImagePreviewModal(row.icon_url)"
        tooltip="Preview Image">
      </a>
      <a href
        ng-if="row.active === true"
        class="fa fa-fw fa-arrow-up fa-lg"
        ng-click="decreaseRank(row)"
        tooltip="Move Up">
      </a>
      <a href
        ng-if="row.active === true"
        class="fa fa-fw fa-arrow-down fa-lg"
        ng-click="increaseRank(row)"
        tooltip="Move Down">
      </a>
      <button
        ng-show="!row.uploading"
        class="btn btn-sm btn-primary"
        ngf-select="upload($file, row)">Upload Image
      </button>
    </td>
  </tr>
  </tbody>
</table>
</div>
</div>